{sub_dirs, ["test"]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{erl_opts, [debug_info]}.
%{erl_opts, []}.
{xref_checks, [undefined_function_calls]}.

{deps, [
    {appendix, "0.5.*", {git, "git://github.com/odo/appendix.git", {tag, "HEAD"}}}
    , {ranch,  "0.6.*", {git, "git://github.com/extend/ranch.git", {tag, "HEAD"}}}
    , {meck,  "0.7.*", {git, "git://github.com/eproxus/meck.git", {tag, "HEAD"}}}
    , {gen_server2,  "1.0.*", {git, "git://github.com/inaka/gen_server2.git", {tag, "HEAD"}}}
    , {kprof,  "1", {git, "git://github.com/knutin/kprof.git", {tag, "HEAD"}}}
 ]}.
{eunit_compile_opts, [verbose]}.
