{sub_dirs, ["test"]}.

{cover_enabled, true}.

{eunit_opts, [verbose]}.

{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{deps, [
    {appendix, "0.3.*", {git, "git://github.com/odo/appendix.git", {tag, "HEAD"}}}
    , {ranch,  "0.6.*", {git, "git://github.com/extend/ranch.git", {tag, "HEAD"}}}
    , {meck,  "0.7.*", {git, "git://github.com/eproxus/meck.git", {tag, "HEAD"}}}
 ]}.
{eunit_compile_opts, [verbose]}.
