{mode, max}.

{duration, 5}.

{concurrent, 3}.

{driver, basho_bench_driver_poe}.

{key_generator, {uniform_int, 1}}.

{value_generator, {fixed_bin, 100}}.

%{operations, [{read, 1}, {write, 1}]}.
{operations, [{write, 1}]}.
%{operations, [{write_pid, 1}]}.
%{operations, [{write_straigt, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to 
%% the relevant directory of a bitcask installation 
{code_paths, [
	"/Users/odo/2f/poe/ebin/"
	, "/Users/odo/2f/poe/deps/appendix/ebin/"
	, "/Users/odo/2f/poe/deps/bisect/ebin/"
	, "/Users/odo/2f/poe/deps/ranch/ebin/"
	, "/Users/odo/2f/poe/deps/gen_leader/ebin/"
	, "/Users/odo/2f/poe/deps/gproc/ebin/"
	, "/Users/odo/2f/poe/deps/meck/ebin/"
	, "/Users/odo/2f/poe/deps/proper/ebin/"
	, "/Users/odo/2f/poe/deps/gen_server2/ebin/"
]}.
