{mode, max}.

{duration, 1}.

{concurrent, 6}.

{driver, basho_bench_driver_poe}.

{key_generator, {uniform_int, 1}}.

{value_generator, {fixed_bin, 100}}.

%{operations, [{write, 1}]}.
{operations, [{read_wrap, 1}]}.
%{operations, [{read, 1}, {write, 1}]}.

%{operations, [{write_mini, 1}]}.

{code_paths, [
	"/Users/odo/2f/poe/ebin/"
	, "/Users/odo/2f/poe/deps/appendix/ebin/"
	, "/Users/odo/2f/poe/deps/bisect/ebin/"
	, "/Users/odo/2f/poe/deps/ranch/ebin/"
	, "/Users/odo/2f/poe/deps/gen_server2/ebin/"
]}.
